In [12]:
import requests 
from bs4 import BeautifulSoup
import pandas as pd
import re

https://chrisalbon.com/python/beautiful_soup_scrape_table.html

In [ ]:
In diesem Notebook zeige ich Euch, wie ihr Daten aus einer Tabelle auf einer Internetnetseite zieht: 
    "http://www1.wdr.de/nachrichten/landespolitik/landtagswahl/wss-kriminalitaet-barrierefrei-104.html"

Chris Albon

Requests ist ein nützliches Python Paket, mit dem man Inhalte aus dem Netz in Python nutzen kann.

In [22]:
r = requests.get("http://www1.wdr.de/nachrichten/landespolitik/landtagswahl/wss-kriminalitaet-barrierefrei-104.html")

In [24]:
r

[BeautifulSoup](https://www.crummy.com/software/BeautifulSoup/) hilt Pythonistas dabei, Daten aus einer Webseite zu ziehen und nutzbar zu machen.

In [23]:
soup = BeautifulSoup(r.text, 'lxml')

In [14]:
soup.table

<table class="thleft"><caption>Bekannt gewordene Fälle in NRW</caption><thead><tr class="headlines"><th class="entry">Jahr</th><th class="entry">Bekannt gewordene Fälle</th></tr></thead><tbody><tr class="data"><td class="entry">2005</td><td class="entry">1.503.451</td></tr><tr class="data"><td class="entry">2006</td><td class="entry">1.491.897</td></tr><tr class="data"><td class="entry">2007</td><td class="entry">1.495.333</td></tr><tr class="data"><td class="entry">2008</td><td class="entry">1.453.203</td></tr><tr class="data"><td class="entry">2009</td><td class="entry">1.458.438</td></tr><tr class="data"><td class="entry">2010</td><td class="entry">1.442.801</td></tr><tr class="data"><td class="entry">2011</td><td class="entry">1.511.469</td></tr><tr class="data"><td class="entry">2012</td><td class="entry">1.518.363</td></tr><tr class="data"><td class="entry">2013</td><td class="entry">1.484.943</td></tr><tr class="data"><td class="entry">2014</td><td class="entry">1.501.125</td></tr><tr class="data"><td class="entry">2015</td><td class="entry">1.517.448</td></tr><tr class="data"><td class="entry">2016</td><td class="entry">1.469.426</td></tr></tbody></table>

In [ ]:
Schön sortiert sieht das so aus:

In [ ]:
<div class="table">
    <table class="thleft"><caption>Bekannt gewordene Fälle in NRW</caption>
        <thead>
            <tr class="headlines">
                <th class="entry">Jahr</th>
                <th class="entry">Bekannt gewordene Fälle</th>
            </tr>
        </thead>
        
        <tbody>
                    <tr class="data"><td class="entry">2005</td><td class="entry">1.503.451</td></tr>
                    <tr class="data"><td class="entry">2006</td><td class="entry">1.491.897</td></tr>
                    <tr class="data"><td class="entry">2007</td><td class="entry">1.495.333</td></tr>
                    <tr class="data"><td class="entry">2008</td><td class="entry">1.453.203</td></tr>
                    <tr class="data"><td class="entry">2009</td><td class="entry">1.458.438</td></tr>
                    <tr class="data"><td class="entry">2010</td><td class="entry">1.442.801</td></tr>
                    <tr class="data"><td class="entry">2011</td><td class="entry">1.511.469</td></tr>
                    <tr class="data"><td class="entry">2012</td><td class="entry">1.518.363</td></tr>
                    <tr class="data"><td class="entry">2013</td><td class="entry">1.484.943</td></tr>
                    <tr class="data"><td class="entry">2014</td><td class="entry">1.501.125</td></tr>
                    <tr class="data"><td class="entry">2015</td><td class="entry">1.517.448</td></tr>
                    <tr class="data"><td class="entry">2016</td><td class="entry">1.469.426</td></tr>
        </tbody>
    </table>
</div>

Aber was ist das, was wir hier sehen? 


https://tutorial.djangogirls.org/en/html/

## What is HTML?

HTML is a simple code that is interpreted by your web browser – such as Chrome, Firefox or Safari – to display a web page for the user.

HTML stands for "HyperText Markup Language". HyperText means it's a type of text that supports hyperlinks between pages. Markup means we have taken a document and marked it up with code to tell something (in this case, a browser) how to interpret the page. HTML code is built with tags, each one starting with < and ending with >. These tags represent markup elements.

HTML ist heute nicht unser Thema. Sinnvoll ist es trotzdem sich mit den Grundlagen von HTML,CSS, JavaScript zu beschäftigen. 
Einen guten ersten Einstieg bietet: 
https://www.w3schools.com/

Dort findet sich folgender Hinweis zum Thema Tabellen: 

https://www.w3schools.com/html/html_tables.asp

```
An HTML table is defined with the <table> tag.
Each table row is defined with the <tr> tag. 
A table header is defined with the <th> tag. 
By default, table headings are bold and centered. A table data/cell is defined with the <td> tag.
```

## Aufgabe: 
https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro

In diesem Beispiel bitte den Inhalt einer Datentabelle und eine Überschrift der Tabelle ändern.

In [15]:
# Create empty lists to store the scraped data in
jahr = []
fälle = []

In [16]:
# Create an object of the first object that is class=tabele
table = soup.find(class_='table')

In [17]:
for row in table.find_all('tr')[1:]:
    print(row)

<tr class="data"><td class="entry">2005</td><td class="entry">1.503.451</td></tr>
<tr class="data"><td class="entry">2006</td><td class="entry">1.491.897</td></tr>
<tr class="data"><td class="entry">2007</td><td class="entry">1.495.333</td></tr>
<tr class="data"><td class="entry">2008</td><td class="entry">1.453.203</td></tr>
<tr class="data"><td class="entry">2009</td><td class="entry">1.458.438</td></tr>
<tr class="data"><td class="entry">2010</td><td class="entry">1.442.801</td></tr>
<tr class="data"><td class="entry">2011</td><td class="entry">1.511.469</td></tr>
<tr class="data"><td class="entry">2012</td><td class="entry">1.518.363</td></tr>
<tr class="data"><td class="entry">2013</td><td class="entry">1.484.943</td></tr>
<tr class="data"><td class="entry">2014</td><td class="entry">1.501.125</td></tr>
<tr class="data"><td class="entry">2015</td><td class="entry">1.517.448</td></tr>
<tr class="data"><td class="entry">2016</td><td class="entry">1.469.426</td></tr>

In [18]:
for row in table.find_all('tr')[1:]:
    col = row.find_all('td')
    print(col)

[<td class="entry">2005</td>, <td class="entry">1.503.451</td>]
[<td class="entry">2006</td>, <td class="entry">1.491.897</td>]
[<td class="entry">2007</td>, <td class="entry">1.495.333</td>]
[<td class="entry">2008</td>, <td class="entry">1.453.203</td>]
[<td class="entry">2009</td>, <td class="entry">1.458.438</td>]
[<td class="entry">2010</td>, <td class="entry">1.442.801</td>]
[<td class="entry">2011</td>, <td class="entry">1.511.469</td>]
[<td class="entry">2012</td>, <td class="entry">1.518.363</td>]
[<td class="entry">2013</td>, <td class="entry">1.484.943</td>]
[<td class="entry">2014</td>, <td class="entry">1.501.125</td>]
[<td class="entry">2015</td>, <td class="entry">1.517.448</td>]
[<td class="entry">2016</td>, <td class="entry">1.469.426</td>]

In [ ]:
for row in table.find_all('tr')[1:]:
    col = row.find_all('td')
    column_1 = col[0].string.strip()
    print(column_1)

In [7]:
# Find all the <tr> tag pairs, skip the first one, then for each.
for row in table.find_all('tr')[1:]:
    # Create a variable of all the <td> tag pairs in each <tr> tag pair,
    col = row.find_all('td')

    # Create a variable of the string inside 1st <td> tag pair,
    column_1 = col[0].string.strip()
    # and append it to first_name variable
    jahr.append(column_1)
    
    # Create a variable of the string inside 2nd <td> tag pair,
    column_2 = col[1].string.strip()
    # and append it to last_name variable
    fälle.append(column_2)

In [10]:
# Create a variable of the value of the columns
columns = {'jahr': jahr, 'fälle': fälle}

# Create a dataframe from the columns variable
df = pd.DataFrame(columns, columns=['jahr', 'fälle'])

In [11]:
df

    jahr      fälle
0   2005  1.503.451
1   2006  1.491.897
2   2007  1.495.333
3   2008  1.453.203
4   2009  1.458.438
5   2010  1.442.801
6   2011  1.511.469
7   2012  1.518.363
8   2013  1.484.943
9   2014  1.501.125
10  2015  1.517.448
11  2016  1.469.426

## Aufgabe

Jetzt seid ihr dran, bitte diese Tabelle scrapen: 

http://www1.wdr.de/nachrichten/landespolitik/landtagswahl/wss-kinderarmut-barrierefrei-100.html